{% extends "accounts/layout.html" %}

{% block title %}
    User Profile #{{ user.last_name }}{{ user.first_name }}
{% endblock title %}

{% block content %}
    <h2>ID: {{ user }}</h2>

{#    {% if post.photo %}#}
{#        <div>#}
{#            <img src="{{ post.photo.url }}" />#}
{#        </div>#}
{#    {% endif %}#}
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            이름 : {{ user.last_name }}{{ user.first_name }}
        </dt>
        {% if user.profile %}
            <dt>
                전화번호 : {{ user.profile.phone_number }}
            </dt>
        {% else %}
            <dt>
                전화번호 : 전화번호가 없습니다.
            </dt>
        {% endif %}
        <dt>
            Email : {{ user.email }}
        </dt>
    </dl>
    <hr/>

    <a href="{% url 'reserveapp:reservedroom_list' %}" class="btn btn-info">
        예약 리스트
    </a>

    {% if user == request.user %}
        <a href="{% url 'accounts:profile_edit' %}" class="btn btn-info">
            프로필 수정
        </a>
    {% endif %}

{% endblock content %}
