{% extends "reserveapp/layout.html" %}
{% load bootstrap4 %}

{% block title %}
    Reserve App / Reserved Meeting Room List
{% endblock title %}

{% block content %}
    <script>
        $(document).ready(function () {
            console.log("웹페이지 로딩 완료")
        });
    </script>
    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색" />
    </form>

    <a href="{% url 'reserveapp:reserve_new' %}" class="btn btn-primary btn-block mt-3 mb-3">
        새 예약
    </a>

    <table class="table table-bordered table-hover">
        <tbody>
            <th class="text-center">
                No.
            </th>
            <th>
                예약번호
            </th>
            <th>
                회의실 이름
            </th>
            <th>
                예약자
            </th>
            <th>
                예약일
            </th>
            <th>
                예약 시작 시간
            </th>
            <th>
                예약 종료 시간
            </th>
            {% for reservedroom in reservedroom_list %}
                <tr>
                    <td>
                        {{ forloop.revcounter }}
                    </td>
                    <td>
                        {{ reservedroom.pk|stringformat:"06d" }}
                    </td>
{#                    <td>#}
{#                        {% if room.photo %}#}
{#                            <img src="{{ reservedroom.photo.url }}" style="width: 100px">#}
{#                        {% else %}#}
{#                            No Photo#}
{#                        {% endif %}#}
{#                    </td>#}
                    <td>
                        <a href="{{ reservedroom.get_absolute_url }}">
                            {{ reservedroom.room.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'accounts:profile_detail' pk=reservedroom.user.pk %}">
                            {{ reservedroom.user }}
                        </a>
                    </td>
                    <td>
                        {{ reservedroom.reserved_date }}
                    </td>
                    <td>
                        {{ reservedroom.started_at }}
                    </td>
                    <td>
                        {{ reservedroom.finished_at }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    {% if is_paginated %}
        {{ page_obj }}
        {% bootstrap_pagination page_obj size="small" justify_content="center" %}
    {% endif %}
{% endblock content %}
